.header_back {
    width: 100%;
    height: 55px;
    position: relative;
    z-index: 100;
}
.header_wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 55px;
    position: fixed;
    background-color: white;
    box-shadow: 8px 5px 8px 0px rgba(34, 60, 80, 0.2);
    z-index: 100;
}
.header {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    position: relative;
    z-index: 100;
}
.header_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
}

.btn_orange {
    background-color: #C8502A;
    color: white;
    padding: 7px 15px;
    border: none;
    border-radius: 9px;
    transition: background-color 0.5s;
    border: 1px solid #C8502A;
}

.btn_orange:hover {
    background-color: white;
    border: 1px solid #C8502A;
    color: #C8502A;
}
.btn_link_transparent {
    background-color: white;
    padding: 7px 15px;
    border: 1px solid #C8502A;
    border-radius: 9px;
    text-decoration: none;
    color: #C8502A;
}
.bi-bag {
    background-color: #C8502A;
}
