.navbar {
    display: flex;
    list-style-type: none;
    column-gap: 19px;
    align-items: center;
    margin: 0;
}
.navbar_item {


}
.navbar_item_link {
    text-decoration: none;
    color: black;
}
.navbar_item_link:hover {
    color: #C8502A;
}